header {
    background: rgb(104 109 177);
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px solid var(--darkborder);
    width: var(--full-size);
}

.header-content {
    height: var(--full-size);
    width: var(--full-size);
    display: flex;
    flex-direction: column;
}

.logo-burger-row {
    height: var(--full-size);
    width: 95%;
    display: flex;
    margin: 1em auto;
    align-items: center;
    justify-content: space-between;
}

.row-section {
    width: 50%;
    display: contents;
}

.logo-wrapper {
    width: 150px;
    height: var(--full-size);
}

.logo,
.menu-icon {
    width: var(--full-size);
    height: var(--full-size);
    object-fit: contain;
}

.menu-icon-wrapper {
    width: 40px;
    height: var(--full-size);
    background: none;
    border: none;
}

.menu-icon-wrapper:hover {
    cursor: pointer;
}

.nav-wrapper {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out 0.4s;
}

.open {
    opacity: 1;
    max-height: 500px;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.navlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0em 2em;
}

.nav-item {
    width: var(--full-size);
}

nav a {
    color: white;
    display: block;
    height: 100%;
    padding: 0.4em 0em;
}

.nav-item a {
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.178);
    text-indent: 1em;
    transition: text-indent 0.3s ease-in-out;
}

.nav-item a.active {
    text-decoration: underline;
}




/*.navigation {
    width: 80%;
}

.navlist {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-item {
    padding: 0 15px;
}
*/
