/*
INDEX
*/

.intro-container {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.introtext-wrapper {
    width: 70%;
    margin: 0 45px;
}

.img-wrapper {
    width: 30%;
}

.intro-image {
    width: 100%;
    object-fit: cover;
}

.featured-class-row {
    display: flex;
    flex-direction: row;
}

.feature {
    width: 33%;
    height: 200px;
    background-color: white;
}